.container{
   padding-left: 150px;
}

  .lomas {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 40px;
    grid-template-areas: "siete ocho nueve diez";
    padding: 10px 30px 30px 30px;

    .siete {
        grid-area: siete;
    .ocho {
        grid-area: ocho;
    .nueve {
        grid-area: nueve;
    .diez {
        grid-area:
         diez;
            }
        }
       }    
      }
     }
     .tamañoSub {
        background-color: #BEFFCB;
        color: black;
        font-size: 15px;
        font-family: "Poppins", sans-serif;
        text-decoration: none;
        justify-content: center;
        display: flex;
        padding: 1px;
        margin: 0px;
     }
     .tamañoSub2 {
        background-color: #BEFFCB;
        color: black;
        font-size: 25px;
        font-family: "Poppins", sans-serif;
        text-decoration: none;
        justify-content: center;
        display: flex;
        padding: 1px;
        margin: 0px;
      } 


      @media(min-width:375px){

.container{
width: 50px;
}

      }
