@charset "UTF-8";
/* TIPOS DE FUENTES */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&family=Oswald:wght@300&family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&family=DM+Serif+Display&family=Oswald:wght@300&family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&family=DM+Serif+Display&family=Oswald:wght@300&family=Poppins:wght@200&family=Source+Sans+Pro:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400&family=DM+Serif+Display&family=Oswald:wght@300&family=Poppins:wght@200&family=Source+Sans+Pro:wght@600&family=Tiro+Tamil&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400&family=DM+Serif+Display&family=Oswald:wght@300&family=Poppins:wght@200;300&family=Source+Sans+Pro:wght@600&family=Tiro+Tamil&display=swap");
* {
  margin: 0;
  padding: 0;
}

.h2Ind {
  display: grid;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

header {
  background-color: #CDCDCD;
  padding: 30px 50px 0px 20px;
  display: grid;
  justify-content: center;
}
header nav {
  list-style-type: none;
  display: inline-flex;
  padding: 5px 0px 10px 30px;
  font-family: "Poppins", sans-serif;
  color: black;
  text-decoration: none;
}
header nav ul .secciones {
  display: flex;
  justify-content: center;
}
header nav ul li #logo {
  display: flex;
  justify-content: center;
}
header nav ul li a {
  font-family: "Poppins", sans-serif;
  color: black;
  text-decoration: none;
  font-size: 20px;
}

footer {
  background-color: #CDCDCD;
  padding: 30px 50px 0px 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "p1" "p2";
  justify-items: center;
}
footer .p1 {
  grid-area: p1;
}
footer .p1 .p2 {
  grid-area: p2;
}

.mainH {
  margin-bottom: 80px;
}
.mainH .tamañoSub {
  background-color: #BEFFCB;
  color: black;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  justify-content: center;
  display: flex;
  padding: 1px;
  margin: 0px;
}
.mainH .tamañoSub .carrusel {
  margin: 0px;
}
.mainH .tamañoSub .carrusel .lomas2 {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 40px;
  grid-template-areas: "siete2 ocho2 nueve2 diez2";
  padding: 20px 30px 5px 30px;
}
.mainH .tamañoSub .carrusel .lomas2 .siete2 {
  grid-area: siete2;
}
.mainH .tamañoSub .carrusel .lomas2 .ocho2 {
  grid-area: ocho2;
}
.mainH .tamañoSub .carrusel .lomas2 .nueve2 {
  grid-area: nueve2;
}
.mainH .tamañoSub .carrusel .lomas2 .diez2 {
  grid-area: diez2;
}

.mainH {
  margin-bottom: 80px;
}
.mainH .tamañoSub {
  background-color: #BEFFCB;
  color: black;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  justify-content: center;
  display: flex;
  padding: 1px;
  margin: 0px;
}
.mainH .tamañoSub .lomas2 {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 40px;
  grid-template-areas: "siete2 ocho2 nueve2 diez2";
  padding: 20px 30px 5px 30px;
}
.mainH .tamañoSub .lomas2 .siete2 {
  grid-area: siete2;
}
.mainH .tamañoSub .lomas2 .ocho2 {
  grid-area: ocho2;
}
.mainH .tamañoSub .lomas2 .nueve2 {
  grid-area: nueve2;
}
.mainH .tamañoSub .lomas2 .diez2 {
  grid-area: diez2;
}

.mainH {
  margin-bottom: 80px;
}
.mainH .tamañoSub {
  background-color: #BEFFCB;
  color: black;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  justify-content: center;
  display: flex;
  padding: 1px;
  margin: 0px;
}
.mainH .tamañoSub .lomas2 {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 40px;
  grid-template-areas: "siete2 ocho2 nueve2 diez2";
  padding: 20px 30px 5px 30px;
}
.mainH .tamañoSub .lomas2 .siete2 {
  grid-area: siete2;
}
.mainH .tamañoSub .lomas2 .ocho2 {
  grid-area: ocho2;
}
.mainH .tamañoSub .lomas2 .nueve2 {
  grid-area: nueve2;
}
.mainH .tamañoSub .lomas2 .diez2 {
  grid-area: diez2;
}

.mainNos {
  padding: 0px 20px 90px 20px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: black;
}
.mainNos .h1Nos {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: black;
  justify-content: center;
  display: flex;
  font-size: 40px;
}
.mainNos .h1Nos .h3Nos {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: black;
  justify-content: center;
  display: flex;
  font-size: 20px;
}
.mainNos .h1Nos .h3Nos .h4Nos {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: black;
  justify-content: center;
  display: flex;
  font-size: 18px;
}

.form {
  padding: 0px 20px 30px 20px;
}/*# sourceMappingURL=style.css.map */